* {
  margin: 0;
  padding: 0;
}

/* FUNDO DE TUDO */
body {
  background-color: #e6e6e6;
  font-size: 14px;
}

/* INÍCIO MENU */
.header {
  background-color: #5B9ED9;
  padding: 1px;
  text-align: center;
}

/* CATEGORIAS E LEIA MAIS */
a {
  text-decoration: none;
  font-weight: bold;
  color: #497AA6
}

/* TAMANHO DA PARTE BRANCA ONDE O POST É COLOCADO */
.post p {
  margin: 10px 0;
}

.menu,
.logo {
  padding: 5px;
}

/* COR DO TEXTO SEÇÕES MENU */
.menu a,
.menu a:visited {
  color: white;
  text-decoration: none;
  padding: 8px 12px;

}

/* COR DO TEXTO SELECIONADO */
.menu a:hover {
  background-color: white;
  color: rgb(82, 159, 231);
}
/* FINAL MENU */

/* ESPAÇAMENTO PARA POST */
.container {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
}

/* LARGURA DA PARTE BRANCA ONDE O POST É COLOCADO */
.posts {
  width: 660px;
  float: left;
}

/* FUNDO BRANC ONDE O POST É COLOCADO */
.post {
  padding: 20px;
  margin-bottom: 10px;
  background-color: white;
}

/* TÍTULO DO POST */
h2 {
  font-size: 15px;
  color: #4a4e52
}

/* DATA DO POST */
.data-post {
  font-size: 0.8em;
  margin-bottom: 15px;
  display: block;
}

/* FIGURA DO POST E DESCRIÇÃO DA IMAGEM */
.data-post, figure, figcaption{
  color: #6d6c6c;
  font-size: 14px;
  margin-top: 3px;
}

/* BARRA LATERAL (DESTAQUES E CATEGORIAS) */
.barra-lateral {
  width: 240px;
  float: right;
}

/* CONTEÚDO LATERAL (DESTAQUES E CATEGORIAS) */
.conteudo-lateral {
  background-color: white;
  padding: 5px;
  margin-bottom: 20px;
}

/* COR DE FUNDO DESTAQUES E CATEGORIAS */
.conteudo-lateral h3 {
  background-color: #A7C1D9;
  color: black;
  padding: 5px;
}

/* COR DE LINHA SEPARAMENTO DESTAQUES */
.post-destaque {
  font-size: 0.9em;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

/* ATRIBUTO PARA O ULTIMO DESTAQUE NAO CONTER A LINHA */
.post-destaque:last-child {
  border: none;
}

/* FOOTER */
.footer {
  clear: both;
  background-color: rgb(220, 220, 220);
  padding: 10px;
}

/* TEXTO DO FOOTER */
.footer p {
  color: black;
  text-align: center;
  font-size: 12px;
}

/* INFORMAÇÕES FINAIS DE RESENHA */
.info {
  font-size: 12px;
  text-align: center;
  color: #2e2e2e;
}